:root {
  --hex-column-width: 100px;
  --hex-width: calc(var(--hex-column-width) * .581);
  --hex-height: calc(var(--hex-width) * 2);
  --hex-vertical-border: calc(var(--hex-width) / 2);
  --hex-horizontal-border: calc(var(--hex-column-width) / 2);
  --me-color: #385723;
  --me-background-color: #a9d18e;
  --work-color: #1f4e79;
  --work-background-color: #9dc3e6;
  --others-color: #7f6000;
  --others-background-color: #ffd966;
  font-family: "Arial Narrow",Arial,sans-serif;
}
body {
  margin: 0px !important;
}
.container {
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 815px;
  z-index: 10;
}

.container .honeycomb {
  display: block;
  position: absolute;
  padding-left: 30px;
  text-align: center;
  height: 650px;
  width: 815px;
  z-index: 5;
}

.container .honeycomb .column {
  display: block;
  float: left;
  width: var(--hex-column-width);
}

.container .honeycomb .column:nth-child(odd) { margin-top: var(--hex-width); }

.wrapper .core {
  font-weight: bolder;
}

.container .honeycomb .hex {
  display: block;
  position: relative;
  float: left;
  margin: 0;
  height: var(--hex-height);
  width: var(--hex-column-width);
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.container .honeycomb .hex:hover {
  /*opacity: 0.75;*/ /* This creates a new stacking context, causing tooltips to get obstructed */
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
}

.container .honeycomb .hex .wrapper {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.title {
  font-family: "Nunito",Arial,sans-serif;
  font-size: xx-large;
  font-weight: bold;
  background-color: white;
  display: block;
  position: absolute;
}

.me {
  background-color: var(--me-background-color) !important;
  color: var(--me-color) !important;
  text-shadow: 1px 1px 1px rgba(var(--me-color), 0.004) !important;
  font-size: medium;
}

#me-title {
  color: var(--me-color);
  top: 0px;
  left: 15px;
}

.others {
  background-color: var(--others-background-color) !important;
  color: var(--others-color) !important;
  text-shadow: 1px 1px 1px rgba(var(--others-color), 0.004) !important;
  font-size: medium;
}

#others-title {
  color: var(--others-color);
  top: 200px;
  left: 620px;
}

.work {
  background-color: var(--work-background-color) !important;
  color: var(--work-color) !important;
  text-shadow: 1px 1px 1px rgba(var(--work-color), 0.004) !important;
  font-size: medium;
}

#work-title {
  color: var(--work-color);
  top: 438px;
  left: 0px;
}

.container .honeycomb .hex .wrapper .blank {
  background: #ffffff;
  visibility: hidden;
}

.container .honeycomb .hex .wrapper .blank:before { 
  border-right-color: #ffffff; 
}

.container .honeycomb .hex .wrapper .blank:after { 
  border-left-color: #ffffff; 
}

.container .honeycomb .hex .wrapper .me {
  background: var(--me-background-color);
}

.container .honeycomb .hex .wrapper .me:before { 
  border-right-color: var(--me-background-color);
}

.container .honeycomb .hex .wrapper .me:after { 
  border-left-color: var(--me-background-color);
}

.container .honeycomb .hex .wrapper .others {
  background: var(--others-background-color);
}

.container .honeycomb .hex .wrapper .others:before { 
  border-right-color: var(--others-background-color);
}

.container .honeycomb .hex .wrapper .others:after { 
  border-left-color: var(--others-background-color);
}

.container .honeycomb .hex .wrapper .work {
  background: var(--work-background-color);
}

.container .honeycomb .hex .wrapper .work:before { 
  border-right-color: var(--work-background-color);
}

.container .honeycomb .hex .wrapper .work:after { 
  border-left-color: var(--work-background-color);
}

.container .honeycomb .hex .content {
  display: inline-block;
  position: absolute;
  text-align: center;
  z-index: 75;
}

.container .honeycomb .hex .content:hover {
  text-decoration: underline;
}

.hexagon {
  display: flex;
  position: absolute;
  width: var(--hex-width);
  height: var(--hex-column-width);
  background-color: #ffffff;

  justify-content: center;
  align-items: center;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: relative;
  float: left;
  border-top: var(--hex-horizontal-border) solid transparent;
  border-bottom: var(--hex-horizontal-border) solid transparent;
}

.hexagon:before {
  border-right: var(--hex-vertical-border) solid #ffffff;
  left: calc(-1 * var(--hex-vertical-border));
}

.hexagon:after {
  border-left: var(--hex-vertical-border) solid #ffffff;
  right: calc(-1 * var(--hex-vertical-border));
}

.hidden { display: none; }

/*Card System Start ------------------------------------------*/
.container-cards {
  margin: 30px auto;
}
.mdc-layout-grid {
  padding-right: 0;
  padding-left: 0;
}
.mdc-typography--subtitle1 {
  color: #666666;
}
.comp-card {
  text-align: center;
  transition: all .3s ease-in-out;
  min-height: 361.88px;
}
.comp-card:hover {
  
  border-image: linear-gradient(to right, #EB6429 0%,#E1454F 100%);
   border-image-slice: 1;
   border-width: 5px;
    transform: scale(1.1);
 }
 .comp-card .mdc-card__primary-action:hover::before {
   opacity: 0;
 }
 .mdc-card__primary-action:not(.mdc-ripple-upgraded):focus::before {
   opacity: 0;
 }
.card-link {
  text-decoration: none;
}

.comp-card__media {
  background-size: contain;
  margin-top: 30px;
}

.comp-card__primary {
  padding: 0 30px;
  color: #212121;
}
.comp-card__primary h2 {
  line-height: 1.5rem;
}
.comp-card__secondary {
  padding: 0 15px 30px 15px;
  color: #666666;
  font-size: .755rem;
}

.banner-container {
  background-color: #0071c0;
  padding: 1em 2em;
}
.banner-content {
  margin: auto;
  display: flex;
}
.banner-content .mdc-typography--headline4 {
  color: #deedf7;
}
.banner-content .mdc-typography--subtitle1 {
  color: #ffffff;
  font-size: 20px;
}
/* .right-divider {
  border-right: 1px solid #deedf7;
} */
.banner-content li {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 20px;
}
.underline {
  border-bottom: 1px solid white;
  font-weight: 300;
}
.banner-link {
  color: white;
  text-decoration: none;
}
.banner-divider {
  width: 1px;
    margin: 6px auto;
    background: white;
}
.text-bottom-container {
  padding: 2em 10em;
}
.dark-link {
  color: #212121;
}